@model IEnumerable<NpTest.Models.Bidding>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <a class="col-1 my-2 mx-5 d-flex justify-content-center bg-white shadow shadow-md " asp-action="Create" asp-controller="Bidding">
        <p class="my-2">Create</p>
    </a>
</div>

<div class="container p-3 shadow shadow-lg bg-white rounded rounded-lg">
    <h3>Biddings</h3>
    <table class="table table-hover bg-light shadow shadow-lg ">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Number)</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="hover-shadow">
                    <td >@item.Id</td>
                    <td>@item.Description</td>
                    <td>@item.Number</td>
                    <td>
                        <a class="d-flex justify-content-center" asp-action="Edit" asp-controller="Bidding" asp-route-id="@item.Id">
                            <p class="edit-button">Edit</p>
                        </a>
                    </td>
                    <td>
                        <a class="d-flex justify-content-center" asp-action="Delete" asp-controller="Bidding" asp-route-id="@item.Id">
                            <p class="exclude-button">Delete</p>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>